@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@400;600&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap'); */
*{
  font-family: 'Saira Semi Condensed', sans-serif;
  /* font-family: 'Kanit', sans-serif; */
  box-sizing: border-box;
  font-weight:900 !important; 

  /* outline: 1px solid rgb(221, 8, 8) !important; */
 
}
body{
  margin: 0;
  /* background-image: url(./img/klub\ sekilleri/arxaplan.jpg); */
  background-color: rgba(234, 240, 227, 0.904) !important;
   /* background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed; */
}
.pading{
  padding:  0 100px;
}
.fixed-icons{
 position: absolute;
 z-index: 999;
 color: #fff;
 font-size: 30px;
}
/* marquee{
  color: #ddd;
  font-size: 15px;
 letter-spacing: 2px;

} */
